div{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    background-color: #F9EFDB;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}
h1{
    font: size 70px;
    font-weight: bold;
    color: rgb(73, 4, 4);
}

a{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: saddlebrown;
    border-style: none;
}

a{
    display: inline-block  ;
    margin: 50px;
    text-align: center;
}
p{
    background-color: #EBD9B4;
}
